<div style=" display: flex;justify-content: space-between;margin-left: 89%;">
    <div (click)="addform()" style="text-align: center;">
        <mat-icon>person_add</mat-icon>
        <br>
        <label> समाविष्ट करा </label>
    </div>
    <div style="margin-right: 30px;" (click)="showform()">

        <mat-icon>visibility</mat-icon><br>
        <label> बघा </label>

    </div>


</div>
<div *ngIf="addformdisplay">
    <div>
        <label for="district">जिल्हा निवडा:</label>
        <select class="input-text" [(ngModel)]="user.district" (ngModelChange)='ondistrictSelected($event)'>
           
            <option *ngFor="let district of districtList" [ngValue]="district">{{district}}</option>
        </select>

    </div>



    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>व्यक्तीचे नाव</th>
                    <div>
                        <label for="class">वर्ग</label>
                        <select class="input-text" [(ngModel)]="user.varg" (ngModelChange)='onageSelected($event)'>
                          
                            <option *ngFor="let varg of vargList" [ngValue]="varg">{{varg}}</option>
                        </select>

                    </div>
                    <th>उपयोग</th>
                </tr>
            </thead>



            <tbody>
                <tr>
                    <td><input type="text" [(ngModel)]="user.name"></td>
                    <td>{{user.varg}}</td>
                    <td><input type="text" [(ngModel)]="user.use"></td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-11">

                <button type="submit" (click)="addRow()"> clear </button>

                <button type="submit" (click)="submit(user)"> समाविष्ट करा</button>

            </div>
        </div>
    </div>
</div>



<div *ngIf="!addformdisplay">

    <div class="">
        <div>
            <div class="d-flex mb-2" style="justify-content: space-around; margin-top: 15px;">

                <div>
                    <label for="district">जिल्हा निवडा:</label>
                    <select class="input-text" [(ngModel)]="filterdistrict" (ngModelChange)='ondistrictSelectedfilter($event)'>
                           
                            <option *ngFor="let district of displaydistrictList" [value]="district">{{district}}</option>
                        </select>

                </div>

                <div>
                    <label>तारीख निवडा:पासून</label>
                    <input type="date" [(ngModel)]="startDate" (ngModelChange)='onstartDatefilter($event)'>
                </div>
                <div>
                    <label>पर्यंत</label>
                    <input type="date" [(ngModel)]="endDate" (ngModelChange)='onendDatefilter($event)'>
                </div>
                <div>
                    <input *ngIf="inputbox" type="text" [(ngModel)]="searchtext">
                    <!-- <button (click)="search()">Search</button> -->
                    <button class="material-icons" (click)="search()">
                        search
                    </button>
                </div>
            </div>
            <form class="form-inline">


                <table class="table table-bordered">

                    <tbody>
                        <tr>
                            <th>व्यक्तीचे नाव</th>
                            <th>जिल्हा</th>
                            <th>वर्ग</th>
                            <th>उपयोग</th>
                            <th>दिनांक</th>

                            <td>
                                <a class="text-success">
                                    <i class="fa fa-edit" onclick=""></i>
                                </a>
                            </td>
                            <td>
                                <a class="text-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>


                        </tr>

                        <tr *ngFor="let user of userlist;let i = index">
                            <td *ngIf="!filter">{{user.name}}</td>
                            <td *ngIf="!filter">{{user.district}}</td>
                            <td *ngIf="!filter">{{user.varg}}</td>
                            <td *ngIf="!filter">{{user.use}}</td>
                            <td *ngIf="!filter">{{user.date | date:'dd-MM-yyyy'}}</td>
                            <td *ngIf="!filter">
                                <a class="text-success " (click)="openUserEdit(user,user._id)">
                                    <i class="fa fa-edit "></i>
                                </a>
                            </td>
                            <td *ngIf="!filter">
                                <a class="text-danger " (click)="openUserRemoveModale(user._id)">
                                    <i class="fa fa-trash "></i>
                                </a>
                            </td>
                        </tr>
                        <tr *ngFor="let user of filterlist;let i = index">
                            <td *ngIf="filter">{{user.name}}</td>
                            <td *ngIf="filter">{{user.district}}</td>
                            <td *ngIf="filter">{{user.varg}}</td>
                            <td *ngIf="filter">{{user.use}}</td>
                            <td *ngIf="filter">{{user.date | date:'yyyy-MM-dd'}}</td>
                            <td *ngIf="filter">
                                <a class="text-success " (click)="openUserEdit(user,i)">
                                    <i class="fa fa-edit "></i>
                                </a>
                            </td>
                            <td *ngIf="filter">
                                <a class="text-danger " (click)="openUserRemoveModale(i)">
                                    <i class="fa fa-trash "></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div (click)="share()">
                    <mat-icon>screen_share</mat-icon>
                </div>
                <!--  <button (click)="share()">Share</button> -->
            </form>
        </div>
    </div>
</div>