. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

header {
    text-align: center;
    background-color: rgb(33, 94, 163);
    color: #fff;
    padding: 25px;
}