<div style=" display: flex;justify-content: space-between;margin-left: 89%;">
    <a routerLink="/add" class="btn btn-link">समाविष्ट करा</a>
    <a routerLink="/view" class="btn btn-link">बघा</a>

</div>
<div class="form-group">
    <div class="container-fluid">

        <form [formGroup]="form">
            <div class="form-group">
                <label for="district">जिल्हा निवडा:</label>
                <select formControlName="district">
            <option disabled>Select District</option>
            <option *ngFor="let district of districtList">{{district}}</option>
        </select>

            </div>
        </form>

        <div class="col-md-8 col-sm-12"></div>
        <label>तारीख निवडा</label>
        <form class="form-inline">


            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <th>व्यक्तीचे नाव</th>
                        <th>जिल्हा</th>
                        <th>वर्ग</th>
                        <th>उपयोग</th>
                        <th>दिनांक</th>

                        <td>
                            <a class="text-success">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a class="text-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>


                    </tr>

                    <tr *ngFor="let value of tablePranali">
                        <td>{{value.name}}</td>
                        <td>{{value.district}}</td>
                        <td>{{value.class}}</td>
                        <td>{{value.use}}</td>
                        <td>{{value.date}}</td>
                        <td>
                            <a class="text-success ">
                                <i class="fa fa-edit "></i>
                            </a>
                        </td>
                        <td>
                            <a class="text-danger ">
                                <i class="fa fa-trash "></i>
                            </a>
                        </td>
                    </tr>
                </tbody>



            </table>